*{
    padding:0;
    margin:0;
}

html {
    margin:0;
    padding:0;
    background-color: red;
  }

  body {
    margin:0;
    padding:0;
    width:100vw;
    min-height:100vh;
    background-color: red;
  }